@charset "UTF-8";

@media (max-width: 1300px){
    .bg_showing{ margin-top: 7rem; }
    .showing_box img{ width: 80px; height: 80px; }
    .showing_box h3{ font-size: 1.5rem; }
    .bg_line{ margin: 84px auto; }
    .bg_btn{ width: 168px; height: 30px; }
    .bg_btn a{ font-size: 15px; line-height: 30px; padding: 0 50px; }
    .brand_inner .row-brand{ height: 654px; }
    #product .product_inner{ height: 1400px; }
    .product_mask{ height: 1400px; }
}
@media (max-width: 1250px){
    .brand_inner .row-brand{ height: 628px; }
    .col-2-group .brand_title h2{ font-size: 2.5rem; }
    .col-2-group .brand_title p{ font-size: 15px; line-height: 28px; }
    .service_title h2{ font-size: 2.5rem; }
    .service_row .sweet-col-4-1{ width: 130px; margin: 0 25px; }
    .service_row .sweet-col-4-1 h3{ font-size: 2.5rem; }
    .product_title h2{ font-size: 2.5rem; }
    #product .product_inner{ height: 1310px; }
    .product_mask{ height: 1310px; }
}
@media (max-width: 1100px){
    .bg_showing{ margin-top: 4rem; }
    .header_inner{ height: 720px; } 
    .brand_inner .row-brand{ height: 560px; }
    .row-brand .col-2-group{ margin-left: 9px; }
    .col-2-group .brand_title .title{ height: 378px; overflow: hidden; margin: 0; }
    .col-2-group .brand_title{ padding: 34px; }
    .col-2-group .brand_title h2{ margin: 10px auto; }
    #product .product_inner{ height: 1266px; }
    .product_mask{ height: 1266px; }
} 
@media (max-width: 1024px){
    .header_inner{ height: 742px; }
    .brand_inner .row-brand{ height: 524px; }
    .col-2-group .brand_title{ padding: 35px; }
    .col-2-group .brand_title h2{ font-size: 2rem; }
    .col-2-group .brand_title .title{ height: 334px; }
    .service_title h2{ font-size: 2rem; }
    .service_row .sweet-col-4-1 h3{ font-size: 2rem; }
    .row-brand .col-1 .col-txt{ font-size: 1.8rem; }
    .product_title h2{ font-size: 2rem; }
    .col-2-1 .biscuit .biscuit-txt, .col-2-1 .cake .cake-txt{ font-size: 1.8rem; }
    .product_row .col-6-1 .cake_title{ height: 134px; padding: 36px 16px; }
    .product_row .col-6-1 .cake_title h4{ font-size: 20px; }
    .product_row .col-6-1 .cake_title p{ font-size: 12px; }
    .product_row .col-6-1 .cake_title h5{ font-size: 18px; }
    #product .product_inner{ height: 1230px; }
    .product_mask{ height: 1230px; }
}
@media (max-width: 900px){ 
    .title_line{ width: 200px; }
    .service_row .sweet-col-4-1{ width: 100px; }
    .service_inner{ padding: 75px 0; }
    #product .product_inner{ height: 1078px; }
    .product_mask{ height: 1078px; }
}
@media (max-width: 850px){ 
    nav .nav_info{ display: none; }
}
@media (max-width: 768px){
    .header{ position: relative; }
    .header .header_inner{ position: absolute; background-image: none;  }
    .header .bg_img{ display: block; }
    .nav_logo{ margin-left: 80px; }
    nav .hamburger{ display: flex; margin-right: 70px; cursor: pointer;}
    .hamburger.open .t1{ transform: translate(0,0) rotate(45deg); transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55); }
    .hamburger.open .t2{ transform: translate(0,-6px) rotate(-45deg); transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55); }
    nav .nav_menu{ background-color: #D27575; height: 100vh; width: 100%; position: absolute; top: 80px; left: 0; z-index: 100; margin-left: 0; opacity: 0; visibility: hidden; transform: scaleY(0) ; transition: .5s; }
    nav .nav_menu ul{ margin-top: 7rem; }
    nav .nav_menu li{ height: 80px; display: flex; justify-content: center; align-content: space-around; float: none; margin-right: 0; }
    .nav_menu li a{ display: block; color: #fff; text-transform: uppercase; font-size: 50px; text-align: center; }
    .bg_showing{ margin-top: 7rem; }
    .bg_showing img{ display: block; width: 100px; height: 100px; }
    .showing_box h3{ font-size: 3rem; line-height: 4rem; }
    .bg_line{ width: 100px; margin: 60px auto; }
    .bg_btn{ margin: 73px auto; }
    .bg_btn a{ font-size: 14px; }
    #menu_switcher:checked ~ .nav_menu{ transform: scaleY(1); transform-origin: 0 0; opacity: 1; visibility: visible; transition: all .5s ease; }

    .brand{ height: 100%; }
    .brand .brand_inner{ height: 100%; }
    .brand_inner .row-brand{ height: 100%; flex-direction: column; }
    .brand_inner .row-brand .col-1{ width: 100%; height: 100%; background-image: none; opacity: .8; }
    .brand_inner .row-brand .col-1 img{ display: block; }
    .brand_inner .row-brand .col-1 .col-txt{ font-size: 2rem; opacity: 1; }
    .brand_inner .row-brand .col-2-group{ width: 100%; flex-direction: column; margin-left: 0; }
    .brand_inner .row-brand .col-2-group .col-2-1{ position: relative; width: 100%; opacity: .8; }
    .brand_inner .row-brand .col-2-group .brand_title{ padding: 0; }
    .brand_inner .row-brand .col-2-group .brand_title .title{ margin: 4rem auto 1rem; }
    .brand_inner .row-brand .col-2-group .biscuit{ position: static; background-image: none; margin: auto; opacity: 1; }
    .brand_inner .row-brand .col-2-group .cake{ position: static; background-image: none; opacity: 1; }
    .col-2-1 .biscuit .biscuit-txt{ position: absolute; top: 42%; right: 25%; opacity: 1; font-size: 2rem; }
    .col-2-1 .cake .cake-txt{ position: absolute; top: 40%; left: 24%; opacity: 1; font-size: 2rem; }
    .brand_inner .row-brand .col-2-group .brand_img img{ display: block; width: 100%; height: 100%; }
    .brand_inner .row-brand .col-2-group .brand_title .title .txt_box{ width: 300px; margin: auto; }
    .col-2-group .brand_title h2{ font-size: 4rem; margin: 10px auto 1rem; }
    .col-2-group .brand_title p{ width: 60%; margin: auto; }
    .title_line{ width: 300px; margin: auto; }
    .service_inner{ padding: 90px 20px; }
    .service_title h2{ font-size: 4rem; margin: 1rem auto 3rem; }
    .service_inner .service_row{ flex-direction: column; align-items: center; }
    .service_inner .service_row .sweet-col-4-1{ width: 150px; margin: 0 15px; }
    .service_inner .service_row .sweet-col-4-1:last-child{ margin: 3rem auto 1rem; }
    .service_row .sweet-col-4-1 h3{ font-size: 4rem; line-height: 2.5rem; margin-right: 20px; }
    .product_title h2{ font-size: 4rem; margin: 1rem auto 2rem; }
    #product .product_inner{ height: 1870px; }
    .product_mask{ height: 1870px; }
    .product_row{ width: 90%;margin: auto; }
    .product_row .col-6-1{ width: 50%; padding: 30px 10px; }
    .product_row .col-6-1 .cake_title{ height: auto; }
    .product_row .col-6-1 .cake_title p{ padding-bottom: 5px; }
    .footer .footer_inner{ height: 182px; }
    .footer_inner .footer_group{ display: flex; flex-direction: column; position: static; margin: 30px 14px 18px 28px; }
    .footer_box{ flex-direction: column; top: 34px; right: 36px; }
    .footer_box .logo{ margin-bottom: 12px; padding-right: 10px; }
    .footer_box .logo img{ width: 80px; height: 80px; }
    .footer_box a{ padding-right: 14px; }
    .footer_box a h3{ font-size: 14px; letter-spacing: 1px; }
    .footer_group .footer_title{ margin: 0; border-right: none; }
}
@media (max-width: 502px){
    .nav_logo{ margin-left: 45px; }
    nav .hamburger{ margin-right: 50px; }
    .bg_showing{ margin-top: 5rem; }
    .showing_box h3{ font-family: 'Amiri-Regular'; font-size: 5vw; line-height: 7vw; margin-top: 10px; }
    .brand_inner .row-brand .col-1 .col-txt{ font-size: 6vw; }
    .col-2-1 .biscuit .biscuit-txt{ font-size: 6vw; top: 40%; }
    .col-2-1 .cake .cake-txt{ font-size: 6vw; top: 40%; }
    .brand_inner .row-brand .col-2-group .brand_title .title{ margin: 2.5rem auto; }
    .brand_inner .row-brand .col-2-group .brand_title .title .txt_box{ width: 200px; }
    .col-2-group .brand_title h2{ font-size: 10vw; }
    .col-2-group .brand_title p{ width: 53%; }
    .title_line{ width: 200px; }
    .service_title h2{ font-size: 10vw; }
    .service_inner .service_row .sweet-col-4-1{ width: 120px; }
    .service_row .sweet-col-4-1 h3{ font-size: 11vw; }
    .product_title h2{ font-size: 10vw; }
    #product .product_inner{ height: 1630px; }
    .product_mask{ height: 1630px; }
    .footer .footer_inner{ height: 130px; }
}
@media (max-width: 425px){
    .bg_showing img{ width: 60px; height: 60px; }
    .bg_line{ width: 60px; margin: 38px auto; }
    .bg_btn{ width: 136px; height: 24px; margin: 46px auto; }
    .bg_btn a{ font-size: 12px; line-height: 12px; padding: 0 40px; }
    .bg_btn .btneffect{ width: 130px; height: 24px; }
    .product_row .col-6-1 .cake_title{ padding: 26px 16px; }
    .product_row .col-6-1 .cake_title h4{ font-size: 16px; }
    .product_row .col-6-1 .cake_title h5{ font-size: 16px; }
    #product .product_inner{ height: 1400px; }
    .product_mask{ height: 1400px; }  
}
@media (max-width: 375px){
    .product_mask .product_title{ padding-top: 80px; }
    #product .product_inner{ height: 1300px; }
    .product_mask{ height: 1300px; }
    .product_title h2{ margin: 1rem auto; }
}